@model Scolarite.Domain.entities.Classe

@{
   
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="card-header">
            <center><h3 class="card-title" align="center">MODIFIER LA CLASSE </h3></center>
        </div>
    </section>
    <style>

        p {
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 3px;
        }
    </style>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="Create" class="nav-link">Ajouter une classe</a>
                        @*<a class="nav-link" href="#">Link</a>*@
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="List" class="nav-link">liste des classes</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="Details" class="nav-link disabled">details de la classe</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Classe" asp-action="Edit" class="nav-link active">Modifier la classe</a>
                    </li>
                    @*<li class="nav-item">
                            <a asp-area="" asp-controller="Classe" asp-action="Delete" class="nav-link disabled">supprimer la classe</a>
                        </li>*@
                </ul>

                <hr />


                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="CodeCl" class="control-label">CODE</label>
                                <input asp-for="CodeCl" class="form-control" />
                                <span asp-validation-for="CodeCl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="LibelleCl" class="control-label">LIBELLE</label>
                                <input asp-for="LibelleCl" class="form-control" />
                                <span asp-validation-for="LibelleCl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DescriptionCl" class="control-label">DESCRIPTION</label>
                            <input asp-for="DescriptionCl" class="form-control" />
                            <span asp-validation-for="DescriptionCl" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="DateCr" class="control-label">DATE DE CREATION</label>
                                <input asp-for="DateCr" class="form-control" />
                                <span asp-validation-for="DateCr" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="DateDernModif" class="control-label">DaTE de MODIFICATION</label>
                                <input asp-for="DateDernModif" class="form-control" />
                                <span asp-validation-for="DateDernModif" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="SallePrincipale" class="control-label">SALLE PRINCIPALE</label>
                                <input asp-for="SallePrincipale" class="form-control" />
                                <span asp-validation-for="SallePrincipale" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="SelleSecondaire1" class="control-label">SALLE SECONDAIRE 1</label>
                                <input asp-for="SelleSecondaire1" class="form-control" />
                                <span asp-validation-for="SelleSecondaire1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="SalleSecondaire2" class="control-label">SALLE SECONDAIRE 2</label>
                                <input asp-for="SalleSecondaire2" class="form-control" />
                                <span asp-validation-for="SalleSecondaire2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="NiveauAccees" class="control-label">NIVEAU</label>
                                <input asp-for="NiveauAccees" class="form-control" />
                                <span asp-validation-for="NiveauAccees" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Filiere" class="control-label">FILIERE</label>
                                <input asp-for="Filiere" class="form-control" />
                                <span asp-validation-for="Filiere" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="AnneeScolaire" class="control-label">ANNEE SCOLAIRE</label>
                                <input asp-for="AnneeScolaire" class="form-control" />
                                <span asp-validation-for="AnneeScolaire" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="LibFiliere" class="control-label">LIB FILIERE</label>
                                <input asp-for="LibFiliere" class="form-control" />
                                <span asp-validation-for="LibFiliere" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="CodeSpecialite" class="control-label">CODE SPECIALITE</label>
                                <input asp-for="CodeSpecialite" class="form-control" />
                                <span asp-validation-for="CodeSpecialite" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="LibSpecialite" class="control-label">LIB SPECIALITE</label>
                                <input asp-for="LibSpecialite" class="form-control" />
                                <span asp-validation-for="LibSpecialite" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Categorie" class="control-label">CATEGORIE</label>
                                <input asp-for="Categorie" class="form-control" />
                                <span asp-validation-for="Categorie" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="FiliereNew" class="control-label">NOUVELLE FILIERE</label>
                                <input asp-for="FiliereNew" class="form-control" />
                                <span asp-validation-for="FiliereNew" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="SiteEsp" class="control-label">SITE ESP</label>
                                <input asp-for="SiteEsp" class="form-control" />
                                <span asp-validation-for="SiteEsp" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="CodeDept" class="control-label">CODE DEPARTEMENT</label>
                                <input asp-for="CodeDept" class="form-control" />
                                <span asp-validation-for="CodeDept" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="CodeOption" class="control-label">CODE OPTION</label>
                                <input asp-for="CodeOption" class="form-control" />
                                <span asp-validation-for="CodeOption" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="CurrentUser" class="control-label">USER</label>
                                <input asp-for="CurrentUser" class="form-control" />
                                <span asp-validation-for="CurrentUser" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="DateAffectMc" class="control-label">DATE AFFECTATION</label>
                                <input asp-for="DateAffectMc" class="form-control" />
                                <span asp-validation-for="DateAffectMc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Mail" class="control-label">MAIL</label>
                                <input asp-for="Mail" class="form-control" />
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Pole" class="control-label">POLE</label>
                                <input asp-for="Pole" class="form-control" />
                                <span asp-validation-for="Pole" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Modifier" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>



        </div>

    </section>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
