@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFE-SCOLARITE</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <!-- DataTables -->
    <link rel="stylesheet" href="~/template/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/template/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/template/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/template/dist/css/create.css" rel="stylesheet" />
    <link href="~/template/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/template/dist/css/adminlte.min.css">
    @*<link rel="stylesheet" href="~/template/dist/table.css">*@
    <!-- DataTables JQ -->

    <link href="~/template/dist/css/dataTable.css" rel="stylesheet" />

    <!-- DataTables add-->

    <link href="~/template/dist/Table.min.css" rel="stylesheet" />
    <meta name="description" content="Add a loading spinner to Datatables without AJAX" />
    <title>Bootstrap 4 Responsive Datatable with Loading Spinner</title>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="../../index3.html" class="nav-link">Home</a>

                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="" asp-controller="User" asp-action="RegisterNewUser" class="nav-link">Register</a>
                </li>

                @*@if (ViewBag.Loginname == "")*@
                @if (Context.Session.GetString("Loginname") == null)
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a asp-area="" asp-controller="User" asp-action="Login" class="nav-link">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a asp-area="" asp-controller="User" asp-action="Logout" class="nav-link">Logout</a>

                    </li>
                }
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/template/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/template/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/template/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>



        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <img src="~/template/logo2.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">ESPRIT</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/template/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                   
                    <ul></ul>
                    <ul></ul>
                    <ul></ul>
                    <ul></ul>
                    <ul></ul>
                    <ul></ul>
                    <ul></ul>
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                      
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        DASHBOARD
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                                            <i class="nav-icon fas fa-chart-pie"></i>
                                            <p>Dashboard enseignant</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="../../index2.html" class="nav-link">
                                            <i class="nav-icon fas fa-chart-pie"></i>
                                            <p>Dashboard plan d'étude</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        MODULE
                                        <i class="fas fa-angle-left right"></i>
                                        <span class="badge badge-info right">6</span>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Module" asp-action="List" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Liste des modules</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Module" asp-action="Create" class="nav-link">
                                            <i class="nav-icon fas fa-edit"></i>
                                            <p>Ajouter un module</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Module" asp-action="ModuleArchive" class="nav-link">
                                            <i class="nav-icon fas fa-edit"></i>
                                            <p>Modules Archivés</p>
                                        </a>
                                    </li>


                                </ul>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        ENSEIGNANTS
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Ens" asp-action="DetailsEns" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Details Enseignant</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Ens" asp-action="EnsArchive" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Enseignants archivés</p>
                                        </a>
                                    </li>

                                </ul>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-tree"></i>
                                    <p>
                                        CLASSES
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Classe" asp-action="List" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Liste des classes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="classe" asp-action="Create" class="nav-link">
                                            <i class="nav-icon fas fa-edit"></i>
                                            <p>Ajouter classe</p>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        PLAN D'ETUDE
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Plan" asp-action="ListClasse" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Affectation des modules</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-header"></li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">
                                        <a href="../examples/projects.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Projects</p>
                                        </a>
                                    </li>
                                    <li class="nav-item ">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>

                            </li>
                            <li class="nav-item menu-open">

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">

                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-header"></li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-header"></li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                    </li>
                                    <li class="nav-item">

                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                            <li class="nav-item">

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-header"></li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
</div>
            <!-- /.sidebar -->
        </aside>
        @*<div id="modalEns" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter Enseignant</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>

                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </div>

                    </div>
                </div>
            </div>*@
        @RenderBody()

        <footer class="main-footer">
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <script src="~/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/template/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/template/dist/js/demo.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- DataTables  & Plugins -->
    <script src="~/template/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/template/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/template/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/template/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/template/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/template/plugins/jszip/jszip.min.js"></script>
    <script src="~/template/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/template/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/templateLogin/js/site.js"></script>
    <!-- DataTablesJQ -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/template/dist/tableJQ.js"></script>
    <script src="~/template/dist/tableJQT.js"></script>
    <script>
        (function () {
            $('#supprimer').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).data('id');
                alert(id);
                console.log(id);
            });
        });
    </script>

    @*<script>
            $(document).ready(function () {
                $.ajax({
                    url: '/Module/GetAllDataApiJson',
                    method: 'get',
                    dataType: 'json',
                    success: function (data) {
                        $('#example').DataTable({
                            data: data,
                            columns: [
                                {
                                    "data": "CodeModule",
                                    "width": "20%"
                                },
                                {
                                    "data": "Description",
                                    "width": "20%"
                                },
                                {
                                    "data": "UE",
                                    "width": "20%"
                                },
                                {
                                    "data": "Annee",
                                    "width": "20%"
                                },
                                {
                                    "data": "UP",
                                    "width": "20%"
                                },
                                {
                                    "data": "NbHeures",
                                    "width": "20%"
                                },
                                {
                                    "data": "Etat",
                                    "width": "20%"
                                },
                                {
                                    "data": "Coef",
                                    "width": "20%"
                                },
                                {
                                    "data": "NumPanier",
                                    "width": "20%"
                                },
                                {
                                    "data": "AEvaluer",
                                    "width": "20%"
                                },
                                {
                                    "data": "TypeEpreuve",
                                    "width": "20%"
                                },
                                {
                                    "data": "CodeMatiere",
                                    "width": "20%"
                                },

                                {
                                    "data": "TypeEpreuve",
                                    "width": "20%"
                                },
                                {
                                    "data": "TypeModule",
                                    "width": "20%"
                                },

                            ],
                        });
                    }
                });
        </script>*@
    <script>
        $(function () {
            $('#supprimer').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data("id");
                var modal = $(this);
                console.log(id);
                modal.find('.modal-content input').val(id);
            });

            $("#modalDeleteButton").click(function () {
                $("#myForm").submit();

            });

        });
    </script>
    @*<script>
            $(document).ready(function () {

                $('#example').DataTable({
                    "ajax": {
                        "url": "/Module/GetAllDataApiJson",
                        "type": "GET",
                        "datatype": "json"

                    },
                    "columns": [
                        {
                            "data": "CodeModule"

                        },
                        {
                            "data": "Description"

                        },
                        {
                            "data": "UE"

                        },
                        {
                            "data": "Annee"

                        },
                        {
                            "data": "UP"

                        },
                        {
                            "data": "NbHeures"

                        },
                        {
                            "data": "Etat"

                        },
                        {
                            "data": "Coef"

                        },
                        {
                            "data": "NumPanier",
                            "width": "20%"
                        },
                        {
                            "data": "AEvaluer"

                        },
                        {
                            "data": "TypeEpreuve"

                        },
                        {
                            "data": "CodeMatiere"

                        },

                        {
                            "data": "TypeEpreuve"

                        },
                        {
                            "data": "TypeModule"

                        }
                    ]
                });
            });
        </script>*@

    <script>

        $('#example1').DataTable({


            "scrollY": "1000px",
            "paging": true,
            //  "paging":true,
            "responsive": true,
            "lengthChange": true,
            "language": {
                "sProcessing": "Traitement en cours ...",

                "sZeroRecords": "Aucun résultat trouvé",
                "sEmptyTable": "Aucune donnée disponible",

                "sInfoEmpty": "Aucune ligne affichée",
                "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                "sInfoPostFix": "",
                "sSearch": "Chercher:",

                "sInfoThousands": ",",
                "sLoadingRecords": "Chargement...",
                "oPaginate": {
                    "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                }
            }

            //    "buttons": ["copy", "csv", "excel", "pdf", "print"]
            //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>

        $('#listClasse').DataTable({


            "scrollY": "1000px",
            "paging": true,
            //  "paging":true,
            "responsive": true,
            "lengthChange": true,
            "language": {
                "sProcessing": "Traitement en cours ...",

                "sZeroRecords": "Aucun résultat trouvé",
                "sEmptyTable": "Aucune donnée disponible",

                "sInfoEmpty": "Aucune ligne affichée",
                "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                "sInfoPostFix": "",
                "sSearch": "Chercher:",

                "sInfoThousands": ",",
                "sLoadingRecords": "Chargement...",
                "oPaginate": {
                    "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                }
            }

            //    "buttons": ["copy", "csv", "excel", "pdf", "print"]
            //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>

    <script>
        //$(document).ready(function () {
        //    var table = $('#example1').DataTable({
        //        "responsive": true, "lengthChange": true,
        //        "buttons": ["copy", "csv", "excel", "pdf", "print"]

        //    }).buttons().container()
        //        .appendTo($('#example1_wrapper .col-md-6:eq(0)', this.table (). container ()));
        //          //  .appendTo($('#example1_wrapper .col-md-6:eq(0)'));
        //       //  .appendTo($('.col-md-6:eq(0)', this.table().container()));

        //});


        //$(function () {

        //    $("#example1").DataTable({


        //        "scrollY": "200px",
        //        "paging": false,
        //        //  "paging":true,
        //        "responsive": true,
        //        "lengthChange": true,
        //        "buttons": ["copy", "csv", "excel", "pdf", "print"]
        //    })/*.buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)')*/;



        //    //$.ajax({
        //    //    url: "/Module/GetAllDataApiJson",
        //    //    method: "GET",
        //    //    datatype:"json",
        //    //    data: $('#item_table').serialize(),
        //    //});

        //});




    </script>
    @*var oTable = $('#example').DataTable();

        $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        var pos = oTable.row(this).index();
        var row = oTable.row(pos).data();
        console.log(row);
        } );*@*

   
    <script>
        $(document).ready(function () {
            $('#ENS').DataTable({

                "scrollY": "200px",
                "paging": true,
                //  "paging":true,
                "responsive": true,
                "lengthChange": true,
                "language": {
                    "sProcessing": "Traitement en cours ...",

                    "sZeroRecords": "Aucun résultat trouvé",
                    "sEmptyTable": "Aucune donnée disponible",

                    "sInfoEmpty": "Aucune ligne affichée",
                    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Chercher:",

                    "sInfoThousands": ",",
                    "sLoadingRecords": "Chargement...",
                    "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                    }
                }


            });

    </script>
    <script>
        $(document).ready(function () {
            $('#bo').DataTable({


                "scrollY": "200px",
                "paging": false,
                //  "paging":true,
                "responsive": true,
                "lengthChange": true,
                //    "buttons": ["copy", "csv", "excel", "pdf", "print"]
                //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });
    </script>
    <script>

        $(function () {


            $("#annee").click(function () {
                //var id = $(this).find('td:eq(0)').text();
                //  var newRow = $('#annsc').find('tr:eq(1)').val();
                var id = $('input[name="AnneeScolaire"]').val();

                console.log(id);
                $.ajax({

                    url: "/Plan/GetClasseByAnnee",
                    method: "GET",
                    data: { "id": id },
                    dataType: "json",


                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {

                            var codeCl = data[i]['codeCl'];
                            var descriptionCl = data[i]['descriptionCl'];
                            var anneeScolaire = data[i]['anneeScolaire'];
                            var sallePrincipale = data[i]['sallePrincipale'];



                            var _tr = '<tr><td>' + codeCl
                                + '</td><td>' + descriptionCl
                                + '</td><td>' + anneeScolaire
                                + '</td><td>' + sallePrincipale + '</td>'

                            $('#example tbody').append(_tr);

                        }

                        console.log(data);


                    }
                });










            });
        });
    </script>


    @* Jquery ajax ListClasse(plan d'etude) *@
    <script>

        $(document).ready(function () {
            var table = $('#example').DataTable({


                "scrollY": "200px",
                "paging": true,
                //  "paging":true,
                "responsive": true,
                "lengthChange": true,
                "language": {
                    "sProcessing": "Traitement en cours ...",

                    "sZeroRecords": "Aucun résultat trouvé",
                    "sEmptyTable": "Aucune donnée disponible",

                    "sInfoEmpty": "Aucune ligne affichée",
                    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Chercher:",

                    "sInfoThousands": ",",
                    "sLoadingRecords": "Chargement...",
                    "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                    }
                }


            });

            $('#example tbody').on('click', 'tr', function () {



                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                var pos = table.row(this).index();
                var row = table.row(pos).data();
                //  console.log(row);

                //var oData = table.rows("CodeCl") + " :selected";
                //var id = $(this).find(":selected").text();


                var oData = table.rows('.selected').data();

                var id = $(this).find('td:eq(0)').text();
                // $(this).closest("tr").find("td:eq(0)").text();
                console.log(id);

                //    var DescriptionCl = $(this).find('td:eq(1)').val();
                //   var SallePrincipale = $(this).find('td:eq(2)').val();
                //  var data = { "id": CodeCl } "id=" + CodeCl,;
                //'utilisateur=' + nom_user
                $.ajax({
                    //   var valeurCatégorie = <?= $categorieId ?>;
                    url: "/Plan/GetPlanByCodeCl",
                    method: "GET",
                    data: { "id": id },
                    dataType: "json",

                    //contentType: 'application/json; charset=utf-8',


                    //error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //    alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                    //},
                    success: function (data) {



                        for (var i = 0; i < data.length; i++) {
                            //$('input[name="CodeModule"]').val(data[0]);
                            //$('input[name="NumPanier"]').val(data[1]);
                            //$('input[name="CodeCl"]').val(data[2]);
                            // $('input[name="AnneeDeb"]').val(data[3]);
                            //   $('#AnneeDeb').val(data[i][3]);
                            //   $('input[name="CodeModule"]').val(data[codeModule]);
                            //   $('input[name="CodeModule"]').val(data[i]['codeModule']);
                            var codeCl = id;
                            var codeModule = data[i]['codeModule'];
                            var typeEp = data[i]['typeEpreuve'];
                            var anneeDeb = data[i]['anneeDeb'];
                            var apcs = data[i]['apCs'];
                            var nbh = data[i]['nbHeures'];
                            var calcule = data[i]['calculRat'];
                            var coef = data[i]['coef'];
                            var numSemestre = data[i]['numSemestre'];
                            var per = data[i]['periode'];
                            var charge1 = data[i]['chargeP1'];
                            var charge2 = data[i]['chargeP2'];
                            var idEns = data[i]['idEns'];
                            var chargeEns1 = data[i]['chargeEns1P1'];
                            var chargeEnsP2 = data[i]['chargeEns1P2'];
                            var nbheureEn = data[i]['nbHeuresEns'];
                            var IdEns2 = data[i]['idEns2'];
                            var chargeEns2p1 = data[i]['chargeEns2P1'];
                            var chargeEns2p2 = data[i]['chargeEns2P2'];
                            var NbHeuresEns2 = data[i]['nbHeuresEns2'];
                            var anneefin = data[i]['anneeFin'];
                            var dateDebut = data[i]['dateDebut'];
                            var dateFin = data[i]['dateFin'];
                            var dateExam = data[i]['dateExamen'];
                            var NbHoraireRealises = data[i]['nbHoraireRealises'];
                            var Acomptabiliser = data[i]['acomptabiliser'];
                            var surveillant = data[i]['surveillant'];
                            var heureExam = data[i]['heureExam'];
                            var salleExam = data[i]['salleExam'];
                            var surv2 = data[i]['surveillant2'];
                            var salleEx2 = data[i]['salleExam2'];
                            var Numpromotioncs = data[i]['numpromotioncs'];
                            var ue = data[i]['codeUe'];
                            var nbect = data[i]['nbEcts'];
                            var salle = data[i]['salle'];
                            var DateRattr = data[i]['dateRattrapage'];
                            var heureRat = data[i]['heureRat'];
                            var Salle1Rat = data[i]['salle1Rat'];
                            var Salle2Rat = data[i]['salle2Rat'];
                            var DateRat = data[i]['dateRat'];
                            var DateCreation = data[i]['dateCreation'];
                            var DaterLastMaj = data[i]['daterLastMaj'];





                            //var designation = codeModule[i]['designation'];

                            //   + '</td><td>' + '<input type="radio", value=' + 1 + '  checked="checked"> 1  </>' + ' < input type = "radio", value = ' + semestre + ' > 0  </> '


                            var _tr = '<tr><td style = "display: none;">' + '<input  name="codeCl" value= ' + codeCl + '>'
                                + '</td><td>' + ' <select name="codeModule" id="codeModule" value= ' + $('#CodeModule').html() + '<option name="codeModule"  value="" selected disabled hidden> ' + codeModule + ' </option>' + '  />'
                                //  + '</td><td>' + ' <select name="NomModule", value= ' + $('#Designation').html() + '  />'
                                + '</td><td>' + '<input name="typeEp" value= ' + typeEp + '>'
                                + '</td><td>' + '<input name="anneeDeb"  type="number" value= ' + anneeDeb + '>'
                                + '</td><td>' + '<input name="apcs" value= ' + apcs + '>'
                                + '</td><td>' + '<input name="nbh" value= ' + nbh + '>'
                                + '</td><td>' + '<input name="calcule" value= ' + calcule + '>'
                                + '</td><td>' + '<input name="coef" type="number" value= ' + coef + '>'
                                //+ '</td><td>' + '<input name="sem" type="number" value= ' + semestre + '>'
                                + '</td><td>' + '<input name="numSemestre" type="radio" value="1" id="1" /*checked="checked"*/>' + '<label for="1">1</label>' + '<input name="numSemestre" type="radio" id="2" value="2" >2<label for="2"></label><br>' + '<input name="numSemestre" type="radio" id="d" value=' + numSemestre + 'checked="checked" ><label for="d">semestre: ' + numSemestre + '</label><br>'
                                + '</td><td>' + '<input name="per" value= ' + per + '>'
                                + '</td><td>' + '<input name="charge1" value= ' + charge1 + '>'
                                + '</td><td>' + '<input name="charge2" value= ' + charge2 + '>'
                                + '</td><td>' + ' <select name="idEns" id="idEns" value= ' + $('#IdEns').html() + '<option name="idEns" value="" selected disabled hidden> ' + idEns + ' </option>' + '  />'
                                + '</td><td>' + '<input name="chargeEns1" value= ' + chargeEns1 + '>'
                                + '</td><td>' + '<input name="chargeEns2" value= ' + chargeEnsP2 + '>'
                                + '</td><td>' + '<input name="nbheureEn" value= ' + nbheureEn + '>'
                                + '</td><td>' + ' <select name="IdEns2", value= ' + $('#IdEns').html() + '<option value="" selected disabled hidden> ' + IdEns2 + ' </option>' + '  />'
                                + '</td><td>' + '<input name="chargeEns2p1" value= ' + chargeEns2p1 + '>'
                                + '</td><td>' + '<input name="chargeEns2p2" value= ' + chargeEns2p2 + '>'
                                + '</td><td>' + '<input name="NbHeuresEns2" value= ' + NbHeuresEns2 + '>'
                                + '</td><td>' + '<input name="anneefin"  type="number" value= ' + anneefin + '>'
                                + '</td><td>' + '<input name="dateDebut" value= ' + dateDebut + '>'
                                + '</td><td>' + '<input name="dateFin" value= ' + dateFin + '>'
                                + '</td><td>' + '<input name="dateExam" value= ' + dateExam + '>'
                                + '</td><td>' + '<input name="NbHoraireRealises" value= ' + NbHoraireRealises + '>'
                                + '</td><td>' + '<input name="Acomptabiliser" value= ' + Acomptabiliser + '>'
                                + '</td><td>' + '<input name="surveillant" value= ' + surveillant + '>'
                                + '</td><td>' + '<input name="heureExam" value= ' + heureExam + '>'
                                + '</td><td>' + '<input name="salleExam" value= ' + salleExam + '>'
                                + '</td><td>' + '<input name="surv2" value= ' + surv2 + '>'
                                + '</td><td>' + '<input name="salleEx2" value= ' + salleEx2 + '>'
                                + '</td><td>' + '<input name="Numpromotioncs" value= ' + Numpromotioncs + '>'
                                + '</td><td>' + ' <select name="CodeUe", value= ' + $('#CodeUe').html() + '<option value="" selected disabled hidden> ' + ue + ' </option>' + '  />'
                                + '</td><td>' + '<input name="nbect" value= ' + nbect + '>'
                                + '</td><td>' + '<input name="salle" value= ' + salle + '>'
                                + '</td><td>' + '<input name="DateRattr" value= ' + DateRattr + '>'
                                + '</td><td>' + '<input name="heureRat" value= ' + heureRat + '>'
                                + '</td><td>' + '<input name="Salle1Rat" value= ' + Salle1Rat + '>'
                                + '</td><td>' + '<input name="Salle2Rat" value= ' + Salle2Rat + '>'
                                + '</td><td>' + '<input name="DateRat" value= ' + DateRat + '>'
                                + '</td><td>' + '<input name="DateCreation" value= ' + DateCreation + '>'
                                + '</td><td>' + '<input name ="DaterLastMaj" value= ' + DaterLastMaj + '>'
                                + '</td></tr> ';

                            $('#tdata').append(_tr);

                        }
                        console.log(data);
                        //    $('#item_table').append(data);
                    },
                    error: function () {
                        alert('Error occured');
                    }


                });


            });

            $(function () {


                $("#copy").click(function () {

                    var codeCl = $('input[name="codeCl"]').val();
                    console.log(codeCl);

                    var CodeModule = $('select#codeModule option:checked').val();
                    console.log(CodeModule);
                    var typeEp = $('input[name="typeEp"]').val();
                    var anneeDeb = $('input[name="anneeDeb"]').val();
                    var apcs = $('input[name="apcs"]').val();
                    var nbh = $('input[name="nbh"]').val();
                    var calcule = $('input[name="calcule"]').val();
                    var Coef = $('input[name="Coef"]').val();
                    // var sem = $('input[name="sem"]').val();
                    var numSemestre = $('input[type=radio][name=numSemestre]:checked').val();
                    console.log(numSemestre);
                    var NumPeriodfe = $('input[name="per"]').val();
                    var charge1 = $('input[name="charge1"]').val();
                    var charge2 = $('input[name="charge2"]').val();
                    var IdEns = $('select#idEns option:checked').val();
                    console.log(IdEns);
                    var chargeEns1 = $('input[name="chargeEns1"]').val();
                    var chargeEns2 = $('input[name="chargeEns2"]').val();
                    var nbH = $('input[name="nbheureEn"]').val();
                    var IdEns2 = $("#IdEns2").val();

                    var chargeEns2p1 = $('input[name="chargeEns2p1"]').val();
                    var chargeEns2p2 = $('input[name="chargeEns2p2"]').val();
                    var NbHeuresEns2 = $('input[name="NbHeuresEns2"]').val();
                    var anneefin = $('input[name="anneefin"]').val();
                    var dateDebut = $('input[name="dateDebut"]').val();
                    var dateFin = $('input[name="dateFin"]').val();
                    var dateExam = $('input[name="dateExam"]').val();
                    var NbHoraireRealises = $('input[name="NbHoraireRealises"]').val();
                    var Acomptabiliser = $('input[name="Acomptabiliser"]').val();
                    var surveillant = $('input[name="surveillant"]').val();
                    var heureExam = $('input[name="heureExam"]').val();
                    var salleExam = $('input[name="salleExam"]').val();
                    var surv2 = $('input[name="surv2"]').val();
                    var salleEx2 = $('input[name="salleEx2"]').val();
                    var Numpromotioncs = $('input[name="Numpromotioncs"]').val();
                    var CodeUe = $("#CodeUe").val();
                    var nbect = $('input[name="nbect"]').val();
                    var salle = $('input[name="salle"]').val();
                    var DateRattr = $('input[name="DateRattr"]').val();
                    var heureRat = $('input[name="heureRat"]').val
                    var Salle1Rat = $('input[name="Salle1Rat"]').val();
                    var Salle2Rat = $('input[name="Salle2Rat"]').val();
                    var DateRat = $('input[name="DateRat"]').val();
                    var DateCreation = $('input[name="DateCreation"]').val();
                    var DaterLastMaj = $('input[name="DaterLastMaj"]').val();



                    var _tr = '<tr><td style = "display: none;">' + '<input name="codeCl" value= ' + codeCl + '>'
                        + '</td><td>' + ' <select name="CodeModule" id="CodeModule" value= ' + $('#CodeModule').html() + '<option name="CodeModule"  value="" selected disabled hidden> ' + CodeModule + ' </option>' + '  />'
                        + '</td><td>' + '<input name="typeEp" value= ' + typeEp + '>'
                        + '</td><td>' + '<input name="anneeDeb"  type="number" value= ' + anneeDeb + '>'
                        + '</td><td>' + '<input name="apcs" value= ' + apcs + '>'
                        + '</td><td>' + '<input name="nbh" value= ' + nbh + '>'
                        + '</td><td>' + '<input name="calcule" value= ' + calcule + '>'
                        + '</td><td>' + '<input name="coef" type="number" value= ' + Coef + '>'
                        //+ '</td><td>' + '<input name="sem" type="number" value= ' + semestre + '>'
                        + '</td><td>' + '<input name="numSemestre" type="radio" value="1" id="1" /*checked="checked"*/>' + '<label for="1">' + numSemestre + '</label>' + '<input name="numSemestre" type="radio" id="2" value="2" >2<label for="2"></label><br>'
                        + '</td><td>' + '<input name="per" value= ' + NumPeriodfe + '>'
                        + '</td><td>' + '<input name="charge1" value= ' + charge1 + '>'
                        + '</td><td>' + '<input name="charge2" value= ' + charge2 + '>'
                        + '</td><td>' + ' <select name="IdEns" id="IdEns" value= ' + $('#IdEns').html() + '<option name="IdEns" value="" selected disabled hidden> ' + IdEns + ' </option>' + '  />'
                        + '</td><td>' + '<input name="chargeEns1" value= ' + chargeEns1 + '>'
                        + '</td><td>' + '<input name="chargeEns2" value= ' + chargeEns2 + '>'
                        + '</td><td>' + '<input name="nbheureEn" value= ' + nbH + '>'
                        + '</td><td>' + ' <select name="IdEns2", value= ' + $('#IdEns').html() + '<option value="" selected disabled hidden> ' + IdEns2 + ' </option>' + '  />'
                        + '</td><td>' + '<input name="chargeEns2p1" value= ' + chargeEns2p1 + '>'
                        + '</td><td>' + '<input name="chargeEns2p2" value= ' + chargeEns2p2 + '>'
                        + '</td><td>' + '<input name="NbHeuresEns2" value= ' + NbHeuresEns2 + '>'
                        + '</td><td>' + '<input name="anneefin"  type="number" value= ' + anneefin + '>'
                        + '</td><td>' + '<input name="dateDebut" value= ' + dateDebut + '>'
                        + '</td><td>' + '<input name="dateFin" value= ' + dateFin + '>'
                        + '</td><td>' + '<input name="dateExam" value= ' + dateExam + '>'
                        + '</td><td>' + '<input name="NbHoraireRealises" value= ' + NbHoraireRealises + '>'
                        + '</td><td>' + '<input name="Acomptabiliser" value= ' + Acomptabiliser + '>'
                        + '</td><td>' + '<input name="surveillant" value= ' + surveillant + '>'
                        + '</td><td>' + '<input name="heureExam" value= ' + heureExam + '>'
                        + '</td><td>' + '<input name="salleExam" value= ' + salleExam + '>'
                        + '</td><td>' + '<input name="surv2" value= ' + surv2 + '>'
                        + '</td><td>' + '<input name="salleEx2" value= ' + salleEx2 + '>'
                        + '</td><td>' + '<input name="Numpromotioncs" value= ' + Numpromotioncs + '>'
                        + '</td><td>' + ' <select name="CodeUe", value= ' + $('#CodeUe').html() + '<option value="" selected disabled hidden> ' + CodeUe + ' </option>' + '  />'
                        + '</td><td>' + '<input name="nbect" value= ' + nbect + '>'
                        + '</td><td>' + '<input name="salle" value= ' + salle + '>'
                        + '</td><td>' + '<input name="DateRattr" value= ' + DateRattr + '>'
                        + '</td><td>' + '<input name="heureRat" value= ' + heureRat + '>'
                        + '</td><td>' + '<input name="Salle1Rat" value= ' + Salle1Rat + '>'
                        + '</td><td>' + '<input name="Salle2Rat" value= ' + Salle2Rat + '>'
                        + '</td><td>' + '<input name="DateRat" value= ' + DateRat + '>'
                        + '</td><td>' + '<input name="DateCreation" value= ' + DateCreation + '>'
                        + '</td><td>' + '<input name ="DaterLastMaj" value= ' + DaterLastMaj + '>'
                        + '</td></tr> ';

                    //  var newRow = $(_tr).clone();
                    var newRow = $('#tdata').find('tr:eq(1)').clone();
                    $("#tdata tr:first").after(newRow);
                    //  $('#tdata').append(newRow);
                    //console.log(newRow);
                    //var row = $('tbody').find('tr:last-child').clone();



                    //$('tbody').append(row);


                });
            });
            $(function () {

                $('#add').click(function () {
                    // var CodeModule = document.getElementById("#CodeModule").value();
                    // var CodeModule = $("#CodeModule").val();
                    //     var codeCl = $('tbody').find('td:eq(0)').val();
                    var codeCl = $('input[name="codeCl"]').val();
                    console.log(codeCl);

                    var CodeModule = $('select#codeModule option:checked').val();
                    console.log(CodeModule);
                    var typeEp = $('input[name="typeEp"]').val();
                    var anneeDeb = $('input[name="anneeDeb"]').val();
                    var apcs = $('input[name="apcs"]').val();
                    var nbh = $('input[name="nbh"]').val();
                    var calcule = $('input[name="calcule"]').val();
                    var Coef = $('input[name="Coef"]').val();
                    // var sem = $('input[name="sem"]').val();
                    var numSemestre = $('input[type=radio][name=numSemestre]:checked').val();
                    console.log(numSemestre);
                    var NumPeriodfe = $('input[name="per"]').val();
                    var charge1 = $('input[name="charge1"]').val();
                    var charge2 = $('input[name="charge2"]').val();
                    var IdEns = $('select#idEns option:checked').val();
                    console.log(IdEns);
                    var chargeEns1 = $('input[name="chargeEns1"]').val();
                    var chargeEns2 = $('input[name="chargeEns2"]').val();
                    var nbH = $('input[name="nbheureEn"]').val();
                    var IdEns2 = $("#IdEns2").val();

                    var chargeEns2p1 = $('input[name="chargeEns2p1"]').val();
                    var chargeEns2p2 = $('input[name="chargeEns2p2"]').val();
                    var NbHeuresEns2 = $('input[name="NbHeuresEns2"]').val();
                    var anneefin = $('input[name="anneefin"]').val();
                    var dateDebut = $('input[name="dateDebut"]').val();
                    var dateFin = $('input[name="dateFin"]').val();
                    var dateExam = $('input[name="dateExam"]').val();
                    var NbHoraireRealises = $('input[name="NbHoraireRealises"]').val();
                    var Acomptabiliser = $('input[name="Acomptabiliser"]').val();
                    var surveillant = $('input[name="surveillant"]').val();
                    var heureExam = $('input[name="heureExam"]').val();
                    var salleExam = $('input[name="salleExam"]').val();
                    var surv2 = $('input[name="surv2"]').val();
                    var salleEx2 = $('input[name="salleEx2"]').val();
                    var Numpromotioncs = $('input[name="Numpromotioncs"]').val();
                    var CodeUe = $("#CodeUe").val();
                    var nbect = $('input[name="nbect"]').val();
                    var salle = $('input[name="salle"]').val();
                    var DateRattr = $('input[name="DateRattr"]').val();
                    var heureRat = $('input[name="heureRat"]').val
                    var Salle1Rat = $('input[name="Salle1Rat"]').val();
                    var Salle2Rat = $('input[name="Salle2Rat"]').val();
                    var DateRat = $('input[name="DateRat"]').val();
                    var DateCreation = $('input[name="DateCreation"]').val();
                    var DaterLastMaj = $('input[name="DaterLastMaj"]').val();



                    var _tr = '<tr><td style = "display: none;">' + '<input name="codeCl" value= ' + codeCl + '>'
                        + '</td><td>' + ' <select name="CodeModule" id="CodeModule" value= ' + $('#CodeModule').html() + '<option name="CodeModule"  value="" selected disabled hidden> ' + CodeModule + ' </option>' + '  />'
                        + '</td><td>' + '<input name="typeEp" value= ' + typeEp + '>'
                        + '</td><td>' + '<input name="anneeDeb"  type="number" value= ' + anneeDeb + '>'
                        + '</td><td>' + '<input name="apcs" value= ' + apcs + '>'
                        + '</td><td>' + '<input name="nbh" value= ' + nbh + '>'
                        + '</td><td>' + '<input name="calcule" value= ' + calcule + '>'
                        + '</td><td>' + '<input name="coef" type="number" value= ' + Coef + '>'
                        //+ '</td><td>' + '<input name="sem" type="number" value= ' + semestre + '>'
                        + '</td><td>' + '<input name="numSemestre" type="radio" value="1" id="1" /*checked="checked"*/>' + '<label for="1">' + numSemestre + '</label>' + '<input name="numSemestre" type="radio" id="2" value="2" >2<label for="2"></label><br>'
                        + '</td><td>' + '<input name="per" value= ' + NumPeriodfe + '>'
                        + '</td><td>' + '<input name="charge1" value= ' + charge1 + '>'
                        + '</td><td>' + '<input name="charge2" value= ' + charge2 + '>'
                        + '</td><td>' + ' <select name="IdEns" id="IdEns" value= ' + $('#IdEns').html() + '<option name="IdEns" value="" selected disabled hidden> ' + IdEns + ' </option>' + '  />'
                        + '</td><td>' + '<input name="chargeEns1" value= ' + chargeEns1 + '>'
                        + '</td><td>' + '<input name="chargeEns2" value= ' + chargeEns2 + '>'
                        + '</td><td>' + '<input name="nbheureEn" value= ' + nbH + '>'
                        + '</td><td>' + ' <select name="IdEns2", value= ' + $('#IdEns').html() + '<option value="" selected disabled hidden> ' + IdEns2 + ' </option>' + '  />'
                        + '</td><td>' + '<input name="chargeEns2p1" value= ' + chargeEns2p1 + '>'
                        + '</td><td>' + '<input name="chargeEns2p2" value= ' + chargeEns2p2 + '>'
                        + '</td><td>' + '<input name="NbHeuresEns2" value= ' + NbHeuresEns2 + '>'
                        + '</td><td>' + '<input name="anneefin"  type="number" value= ' + anneefin + '>'
                        + '</td><td>' + '<input name="dateDebut" value= ' + dateDebut + '>'
                        + '</td><td>' + '<input name="dateFin" value= ' + dateFin + '>'
                        + '</td><td>' + '<input name="dateExam" value= ' + dateExam + '>'
                        + '</td><td>' + '<input name="NbHoraireRealises" value= ' + NbHoraireRealises + '>'
                        + '</td><td>' + '<input name="Acomptabiliser" value= ' + Acomptabiliser + '>'
                        + '</td><td>' + '<input name="surveillant" value= ' + surveillant + '>'
                        + '</td><td>' + '<input name="heureExam" value= ' + heureExam + '>'
                        + '</td><td>' + '<input name="salleExam" value= ' + salleExam + '>'
                        + '</td><td>' + '<input name="surv2" value= ' + surv2 + '>'
                        + '</td><td>' + '<input name="salleEx2" value= ' + salleEx2 + '>'
                        + '</td><td>' + '<input name="Numpromotioncs" value= ' + Numpromotioncs + '>'
                        + '</td><td>' + ' <select name="CodeUe", value= ' + $('#CodeUe').html() + '<option value="" selected disabled hidden> ' + CodeUe + ' </option>' + '  />'
                        + '</td><td>' + '<input name="nbect" value= ' + nbect + '>'
                        + '</td><td>' + '<input name="salle" value= ' + salle + '>'
                        + '</td><td>' + '<input name="DateRattr" value= ' + DateRattr + '>'
                        + '</td><td>' + '<input name="heureRat" value= ' + heureRat + '>'
                        + '</td><td>' + '<input name="Salle1Rat" value= ' + Salle1Rat + '>'
                        + '</td><td>' + '<input name="Salle2Rat" value= ' + Salle2Rat + '>'
                        + '</td><td>' + '<input name="DateRat" value= ' + DateRat + '>'
                        + '</td><td>' + '<input name="DateCreation" value= ' + DateCreation + '>'
                        + '</td><td>' + '<input name ="DaterLastMaj" value= ' + DaterLastMaj + '>'
                        + '</td></tr> ';
                    //$('tbody').clone().appendTo(_tr);
                    //  console.log(newRow)
                    //   $('tbody').append(_tr);
                    //  $('#item_table').append(_tr);

                    $.ajax({
                        url: "/Plan/Create",
                        method: "post",
                        data: {
                            CodeCl: $('input[name="codeCl"]').val(),
                            CodeModule: $('select#codeModule option:checked').val(),
                            anneeDeb: $('input[name="anneeDeb"]').val(),
                            numSemestre: $('input[type=radio][name=numSemestre]:checked').val(),
                            typeEp: $('input[name="typeEp"]').val(),
                            apcs: $('input[name="apcs"]').val(),
                            nbh: $('input[name="nbh"]').val(),
                            calcule: $('input[name="calcule"]').val(),
                            Coef: $('input[name="Coef"]').val(),
                            NumPeriodfe: $('input[name="per"]').val(),
                            charge1: $('input[name="charge1"]').val(),
                            charge2: $('input[name="charge2"]').val(),
                            IdEns: $('select#idEns option:checked').val(),
                            chargeEns1: $('input[name="chargeEns1"]').val(),
                            chargeEns2: $('input[name="chargeEns2"]').val(),
                            nbH: $('input[name="nbheureEn"]').val(),
                            IdEns2: $('select#IdEns2 option:checked').val(),

                            chargeEns2p1: $('input[name="chargeEns2p1"]').val(),
                            chargeEns2p2: $('input[name="chargeEns2p2"]').val(),
                            NbHeuresEns2: $('input[name="NbHeuresEns2"]').val(),
                            anneefin: $('input[name="anneefin"]').val(),
                            dateDebut: $('input[name="dateDebut"]').val(),
                            dateFin: $('input[name="dateFin"]').val(),
                            dateExam: $('input[name="dateExam"]').val(),
                            NbHoraireRealises: $('input[name="NbHoraireRealises"]').val(),
                            Acomptabiliser: $('input[name="Acomptabiliser"]').val(),
                            surveillant: $('input[name="surveillant"]').val(),
                            heureExam: $('input[name="heureExam"]').val(),
                            salleExam: $('input[name="salleExam"]').val(),
                            surv2: $('input[name="surv2"]').val(),
                            salleEx2: $('input[name="salleEx2"]').val(),
                            Numpromotioncs: $('input[name="Numpromotioncs"]').val(),
                            CodeUe: $('select#CodeUe option:checked').val(),
                            nbect: $('input[name="nbect"]').val(),
                            salle: $('input[name="salle"]').val(),
                            DateRattr: $('input[name="DateRattr"]').val(),
                            heureRat: $('input[name="heureRat"]').val(),
                            Salle1Rat: $('input[name="Salle1Rat"]').val(),
                            Salle2Rat: $('input[name="Salle2Rat"]').val(),
                            DateRat: $('input[name="DateRat"]').val(),
                            DateCreation: $('input[name="DateCreation"]').val(),
                            DaterLastMaj: $('input[name="DaterLastMaj"]').val(),



                        },
                        success: function (data) {

                            console.log(data);

                        },
                        error: function () {
                            alert('Error occured');
                        }


                    });
                });



            });
            $(function () {
                $('#load').click(function () {
                    location.reload();





                });




            });





        });
    </script>
    <script>

    </script>


    @*function () {
        $("#containerexample").attr("id", "container");
        $("#loadercontainer").css("display","none");
        } ).DataTable( {
        lengthChange: false,
        buttons: [ 'excel', 'pdf', 'colvis' ],
        "scrollX": true,
        "paging": false,
        "order": [[ 3, "desc" ]]
        } );

        table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
        } );*@


    @*<script>
            this.spinner.show();
            $(function () {

        $("#example1").DataTable();
        });
        /** spinner ends after 5 seconds */
        this.spinner.hide(),



            </script>*@










    <script>
        $(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $('.radio-group .radio').click(function () {
                $(this).parent().find('.radio').removeClass('selected');
                $(this).addClass('selected');
            });

            $(".submit").click(function () {
                return false;
            })

        });
    </script>








    @RenderSection("Scripts", required: false)
</body>
</html>
