@model ScolariteWeb.ViewModels.EnsViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">

        <div id="supprimer" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Supprimer Enseignant</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>


                    <div class="modal-body">

                        <h1>SUPPRIMER</h1>

                        <h3>Vous Voulez supprimer cet Enseignant</h3><div>
                            <h4>EspEnseignant</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Enseignant.Cin)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Enseignant.Cin)
                                </dd>

                            </dl>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Enseignant.IdEns" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>