
@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="card-header">
            <h3 class="card-title">visualisation de la charge horaire de l'enseignant  </h3>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="card">

            <!-- /.card-header -->
            <div class="card-body">


                <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=3567d3a3-9678-4120-8a2f-622083e28f5e&autoAuth=true&ctid=513486ec-6643-4f17-a508-76478311be42&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>












            </div>
            </div>
        </section>
    </div>
