@model Scolarite.Domain.entities.EspModule

@{
    Layout = null;
}
@using ScolariteWeb;

@{
    //BeginCollectionItemCore already created in HtmlHelper.cs class
}

@using (Html.BeginCollectionItem("AddMoreList"))
{
    <!-------"AddMoreList"----- this is AddMoreViewModel List Object wich is define ViewModel file -->
<div id="removeAddMoreDiv" class="col-xs-12 col-sm-12 form-group">
    <div class="row">
        <div class="form-group">
            <label asp-for="CodeModule" class="control-label"></label>
            <input asp-for="CodeModule" class="form-control" />
            <span asp-validation-for="CodeModule" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Designation" class="control-label"></label>
            <input asp-for="Designation" class="form-control" />
            <span asp-validation-for="Designation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NbHeures" class="control-label"></label>
            <input asp-for="NbHeures" class="form-control" />
            <span asp-validation-for="NbHeures" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Up" class="control-label"></label>
            <select asp-for="Up" class="form-control" asp-items="ViewBag.Up"></select>
        </div>
        <div class="form-group">
            <label asp-for="Coef" class="control-label"></label>
            <input asp-for="Coef" class="form-control" />
            <span asp-validation-for="Coef" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NumPanier" class="control-label"></label>
            <input asp-for="NumPanier" class="form-control" />
            <span asp-validation-for="NumPanier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TypeEpreuve" class="control-label"></label>
            <input asp-for="TypeEpreuve" class="form-control" />
            <span asp-validation-for="TypeEpreuve" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CodeMatiereEduserv" class="control-label"></label>
            <input asp-for="CodeMatiereEduserv" class="form-control" />
            <span asp-validation-for="CodeMatiereEduserv" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TypeEpreuveSr" class="control-label"></label>
            <input asp-for="TypeEpreuveSr" class="form-control" />
            <span asp-validation-for="TypeEpreuveSr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CodeUe" class="control-label"></label>
            <select asp-for="CodeUe" class="form-control" asp-items="ViewBag.CodeUe"></select>
        </div>
        <div class="form-group">
            <label asp-for="AnneeDeb" class="control-label"></label>
            <select asp-for="AnneeDeb" class="form-control" asp-items="ViewBag.AnneeDeb"></select>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-sm removeDiv">
                Remove
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
}
<script>
    $(".removeDiv").click(function () {
        $(this).parents("#removeAddMoreDiv").remove();
    });
</script>