@model Scolarite.Domain.entities.EspModulePanierClasseSaiso

<h4>EspModulePanierClasseSaiso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="myform" method="post">
            @*<button type="button" name="add" class="btn btn-success" id="add">ADD</button>*@
            <table class="table table-bordered" id="item_table">
                <thead>
                    <tr>
                        <th>CodeModule</th>
                        <th>NumPanier</th>
                        <th>CodeCl</th>
                        <th>AnneeDeb</th>
                        <th>AnneeFin</th>
                        <th>Description</th>
                        <th>Nombre d'heure</th>
                        <th>Coef</th>
                        <th>NumSemestre</th>
                        <th>NumPeriodfe</th>
                        <th>DateDebut</th>
                        <th>DateFin</th>
                        <th>DateExamen</th>
                        <th>NbHoraireRealises</th>
                        <th>Acomptabiliser</th>
                        <th>IdEns</th>
                        <th>IdEns2</th>
                        <th>NbHeuresEns</th>
                        <th>NbHeuresEns2</th>
                        <th>Surveillant</th>
                        <th>HeureExam</th>
                        <th>SalleExam</th>
                        <th>Surveillant2</th>
                        <th>SalleExam2</th>
                        <th>Periode</th>
                        <th>Numpromotioncs</th>
                        <th>ApCs</th>
                        <th>IdEns3</th>
                        <th>IdEns4</th>
                        <th>IdEns5</th>
                        <th>CodeUe</th>
                        <th>NbEcts</th>
                        <th>Salle</th>
                        <th>TypeEns</th>
                        <th>DateRattrapage</th>
                        <th>HeureRat</th>
                        <th>Salle1Rat</th>
                        <th>Salle2Rat</th>
                        <th>DateRat</th>
                        <th>DateCreation</th>
                        <th>DaterLastMaj</th>
                        <th>DesignationNew</th>
                        <th>Chargep1add</th>
                        <th>Chargep2add</th>
                        <th>CodePlan</th>
                        <th>Nbheuradd</th>
                        <th>HeureFinSp</th>
                        <th>Utilisateur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @*<td>@Html.DropDownList("CodeModule", (SelectList)ViewData["listModule"])</td>*@
                        <td> <input type="text" class="form-control" id="NumPanier" name="NumPanier"></td>
                        @*<td> @Html.DropDownList("CodeCl", (SelectList)ViewData["listClasse"])</td>*@
                        <td><input type="text" class="form-control" id="AnneeDeb" name="AnneeDeb"></td>
                        <td><input type="number" class="form-control" id="AnneeFin" name="AnneeFin"></td>
                        <td> <input type="text" class="form-control" id="Description" name="Description"></td>
                        <td> <input type="number" class="form-control" id="NbHeures" name="NbHeures"></td>
                        <td> <input type="text" class="form-control" id="Coef" name="Coef"></td>
                        <td> <input type="text" class="form-control" id="NumSemestre" name="NumSemestre"></td>
                        <td> <input type="text" class="form-control" id="NumPeriodfe" name="NumPeriodfe"></td>
                        <td> <input type="text" class="form-control" id="DateDebut" name="DateDebut"></td>
                        <td> <input type="text" class="form-control" id="DateFin" name="DateFin"></td>
                        <td> <input type="text" class="form-control" id="DateExamen" name="DateExamen"></td>
                        <td> <input type="text" class="form-control" id="NbHoraireRealises" name="NbHoraireRealises"></td>
                        <td> <input type="text" class="form-control" id="Acomptabiliser" name="Acomptabiliser"></td>
                        @*<td> @Html.DropDownList("IdEns", (SelectList)ViewData["listEns"])</td>*@
                        <td> <input type="text" class="form-control" id="IdEns2" name="IdEns2"></td>
                        <td> <input type="text" class="form-control" id="NbHeuresEns" name="NbHeuresEns"></td>
                        <td> <input type="text" class="form-control" id="NbHeuresEns2" name="NbHeuresEns2"></td>
                        <td> <input type="text" class="form-control" id="Surveillant" name="Surveillant"></td>
                        <td> <input type="text" class="form-control" id="HeureExam" name="HeureExam"></td>
                        <td> <input type="text" class="form-control" id="SalleExam" name="SalleExam"></td>
                        <td> <input type="text" class="form-control" id="Surveillant2" name="Surveillant2"></td>
                        <td> <input type="text" class="form-control" id="SalleExam2" name="SalleExam2"></td>
                        <td> <input type="text" class="form-control" id="Periode" name="Periode"></td>
                        <td> <input type="text" class="form-control" id="Numpromotioncs" name="Numpromotioncs"></td>
                        <td> <input type="text" class="form-control" id="ApCs" name="ApCs"></td>
                        <td> <input type="text" class="form-control" id="IdEns3" name="IdEns3"></td>
                        <td> <input type="text" class="form-control" id="IdEns4" name="IdEns4"></td>
                        <td> <input type="text" class="form-control" id="IdEns5" name="IdEns5"></td>
                        <td> <input type="text" class="form-control" id="CodeUe" name="CodeUe"></td>
                        <td> <input type="text" class="form-control" id="NbEcts" name="NbEcts"></td>
                        <td> <input type="text" class="form-control" id="Salle" name="Salle"></td>
                        <td> <input type="text" class="form-control" id="TypeEns" name="TypeEns"></td>
                        <td> <input type="text" class="form-control" id="DateRattrapage" name="DateRattrapage"></td>
                        <td> <input type="text" class="form-control" id="HeureRat" name="HeureRat"></td>
                        <td> <input type="text" class="form-control" id="Salle1Rat" name="Salle1Rat"></td>
                        <td> <input type="text" class="form-control" id="Salle2Rat" name="Salle2Rat"></td>
                        <td> <input type="text" class="form-control" id="DateRat" name="DateRat"></td>
                        <td> <input type="text" class="form-control" id="DateCreation" name="DateCreation"></td>
                        <td> <input type="text" class="form-control" id="DaterLastMaj" name="DaterLastMaj"></td>
                        <td> <input type="text" class="form-control" id="DesignationNew" name="DesignationNew"></td>
                        <td> <input type="text" class="form-control" id="Chargep1add" name="Chargep1add"></td>
                        <td> <input type="text" class="form-control" id="Chargep2add" name="Chargep2add"></td>
                        <td> <input type="text" class="form-control" id="CodePlan" name="CodePlan"></td>
                        <td> <input type="text" class="form-control" id="Nbheuradd" name="Nbheuradd"></td>
                        <td> <input type="text" class="form-control" id="HeureFinSp" name="HeureFinSp"></td>
                        <td> <input type="text" class="form-control" id="HeureFinSr" name="HeureFinSr"></td>
                        <td> <input type="text" class="form-control" id="Utilisateur" name="Utilisateur"></td>

                    </tr>
                </tbody>

            </table>
            @*<center>
                <input class="btn btn-success" type="button" name="addd" id="add" value="Inserer">

            </center>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
