@model Scolarite.Domain.entities.EspModulePanierClasseSaiso

@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <h1>Create</h1>

        <h4>EspModulePanierClasseSaiso</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CodeModule" class="control-label"></label>
                        <select asp-for="CodeModule" class="form-control" asp-items="ViewBag.CodeModule"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumPanier" class="control-label"></label>
                        <input asp-for="NumPanier" class="form-control" />
                        <span asp-validation-for="NumPanier" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CodeCl" class="control-label"></label>
                        <select asp-for="CodeCl" class="form-control" asp-items="ViewBag.CodeCl"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnneeDeb" class="control-label"></label>
                        <input asp-for="AnneeDeb" class="form-control" />
                        <span asp-validation-for="AnneeDeb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnneeFin" class="control-label"></label>
                        <input asp-for="AnneeFin" class="form-control" />
                        <span asp-validation-for="AnneeFin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NbHeures" class="control-label"></label>
                        <input asp-for="NbHeures" class="form-control" />
                        <span asp-validation-for="NbHeures" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Coef" class="control-label"></label>
                        <input asp-for="Coef" class="form-control" />
                        <span asp-validation-for="Coef" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumSemestre" class="control-label"></label>
                        <input asp-for="NumSemestre" class="form-control" />
                        <span asp-validation-for="NumSemestre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumPeriodfe" class="control-label"></label>
                        <input asp-for="NumPeriodfe" class="form-control" />
                        <span asp-validation-for="NumPeriodfe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateDebut" class="control-label"></label>
                        <input asp-for="DateDebut" class="form-control" />
                        <span asp-validation-for="DateDebut" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateFin" class="control-label"></label>
                        <input asp-for="DateFin" class="form-control" />
                        <span asp-validation-for="DateFin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateExamen" class="control-label"></label>
                        <input asp-for="DateExamen" class="form-control" />
                        <span asp-validation-for="DateExamen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NbHoraireRealises" class="control-label"></label>
                        <input asp-for="NbHoraireRealises" class="form-control" />
                        <span asp-validation-for="NbHoraireRealises" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Acomptabiliser" class="control-label"></label>
                        <input asp-for="Acomptabiliser" class="form-control" />
                        <span asp-validation-for="Acomptabiliser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdEns" class="control-label"></label>
                        <select asp-for="IdEns" class="form-control" asp-items="ViewBag.IdEns"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdEns2" class="control-label"></label>
                        <input asp-for="IdEns2" class="form-control" />
                        <span asp-validation-for="IdEns2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NbHeuresEns" class="control-label"></label>
                        <input asp-for="NbHeuresEns" class="form-control" />
                        <span asp-validation-for="NbHeuresEns" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NbHeuresEns2" class="control-label"></label>
                        <input asp-for="NbHeuresEns2" class="form-control" />
                        <span asp-validation-for="NbHeuresEns2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surveillant" class="control-label"></label>
                        <input asp-for="Surveillant" class="form-control" />
                        <span asp-validation-for="Surveillant" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeureExam" class="control-label"></label>
                        <input asp-for="HeureExam" class="form-control" />
                        <span asp-validation-for="HeureExam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalleExam" class="control-label"></label>
                        <input asp-for="SalleExam" class="form-control" />
                        <span asp-validation-for="SalleExam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surveillant2" class="control-label"></label>
                        <input asp-for="Surveillant2" class="form-control" />
                        <span asp-validation-for="Surveillant2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalleExam2" class="control-label"></label>
                        <input asp-for="SalleExam2" class="form-control" />
                        <span asp-validation-for="SalleExam2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Periode" class="control-label"></label>
                        <input asp-for="Periode" class="form-control" />
                        <span asp-validation-for="Periode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Numpromotioncs" class="control-label"></label>
                        <input asp-for="Numpromotioncs" class="form-control" />
                        <span asp-validation-for="Numpromotioncs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApCs" class="control-label"></label>
                        <input asp-for="ApCs" class="form-control" />
                        <span asp-validation-for="ApCs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdEns3" class="control-label"></label>
                        <input asp-for="IdEns3" class="form-control" />
                        <span asp-validation-for="IdEns3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdEns4" class="control-label"></label>
                        <input asp-for="IdEns4" class="form-control" />
                        <span asp-validation-for="IdEns4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdEns5" class="control-label"></label>
                        <input asp-for="IdEns5" class="form-control" />
                        <span asp-validation-for="IdEns5" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CodeUe" class="control-label"></label>
                        <input asp-for="CodeUe" class="form-control" />
                        <span asp-validation-for="CodeUe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NbEcts" class="control-label"></label>
                        <input asp-for="NbEcts" class="form-control" />
                        <span asp-validation-for="NbEcts" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salle" class="control-label"></label>
                        <input asp-for="Salle" class="form-control" />
                        <span asp-validation-for="Salle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeEns" class="control-label"></label>
                        <input asp-for="TypeEns" class="form-control" />
                        <span asp-validation-for="TypeEns" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateRattrapage" class="control-label"></label>
                        <input asp-for="DateRattrapage" class="form-control" />
                        <span asp-validation-for="DateRattrapage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeureRat" class="control-label"></label>
                        <input asp-for="HeureRat" class="form-control" />
                        <span asp-validation-for="HeureRat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salle1Rat" class="control-label"></label>
                        <input asp-for="Salle1Rat" class="form-control" />
                        <span asp-validation-for="Salle1Rat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salle2Rat" class="control-label"></label>
                        <input asp-for="Salle2Rat" class="form-control" />
                        <span asp-validation-for="Salle2Rat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateRat" class="control-label"></label>
                        <input asp-for="DateRat" class="form-control" />
                        <span asp-validation-for="DateRat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateCreation" class="control-label"></label>
                        <input asp-for="DateCreation" class="form-control" />
                        <span asp-validation-for="DateCreation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DaterLastMaj" class="control-label"></label>
                        <input asp-for="DaterLastMaj" class="form-control" />
                        <span asp-validation-for="DaterLastMaj" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DesignationNew" class="control-label"></label>
                        <input asp-for="DesignationNew" class="form-control" />
                        <span asp-validation-for="DesignationNew" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Chargep1add" class="control-label"></label>
                        <input asp-for="Chargep1add" class="form-control" />
                        <span asp-validation-for="Chargep1add" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Chargep2add" class="control-label"></label>
                        <input asp-for="Chargep2add" class="form-control" />
                        <span asp-validation-for="Chargep2add" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CodePlan" class="control-label"></label>
                        <input asp-for="CodePlan" class="form-control" />
                        <span asp-validation-for="CodePlan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nbheuradd" class="control-label"></label>
                        <input asp-for="Nbheuradd" class="form-control" />
                        <span asp-validation-for="Nbheuradd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeureFinSp" class="control-label"></label>
                        <input asp-for="HeureFinSp" class="form-control" />
                        <span asp-validation-for="HeureFinSp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeureFinSr" class="control-label"></label>
                        <input asp-for="HeureFinSr" class="form-control" />
                        <span asp-validation-for="HeureFinSr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Utilisateur" class="control-label"></label>
                        <input asp-for="Utilisateur" class="form-control" />
                        <span asp-validation-for="Utilisateur" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </section>
</div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

